*{
    list-style: none;
    transition: all 1s ease;
}


body{
    background-color: black;
}



div.layout-1{
    
text-align: center;



}

div.logo{
    display: inline-block;
}


div.menu{
    background-color: rgb(13, 13, 14);
}


nav.menu{

}


ul.menu-ul{
 text-align: center;
 direction: rtl; 

 
    
}



li{
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 3%;
    line-height: 3;
}


li>a{
   color: rgba(148, 148, 148, 0.726);
   font-weight: bold; 
   text-decoration: none;
}


.btn-shine:hover {
    color: rgb(252, 5, 5);
    
}

.welcome{
    border: 122px ridge red;
    filter: brightness(50%);
}



#welcome{
    color: white;
    text-align: center;
    
}



.welcome:hover{
    /* background: rgba(63, 63, 63, 0.61); */

    filter: brightness(100%);
    transition: all  ease-out 5s;
    transition-timing-function: ease-in-out;


}














/* 
body{
  background: black;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-shine{

    
    

  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 9s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
  
  @keyframes shine{

      0%{
          background-position: 0;
        }
        60%{
            
            background-position: 180px;
        }
  100%{
      background-position: 180px;

  }


}
    
    
    
    
    
    




 */
