
.opened{
margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;

}



.opened div{
width: 300px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    border-radius: 20px;
}


.opened a{

font-weight: bold;
text-decoration: none;

    color: aqua;
}