body{
    background-color: black;
    /* background: url(../../img/logo-site.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    background-attachment: fixed;
    background-origin: border-box;
   filter: brightness(100%);
    */
}

