* {
  list-style: none;
  transition: all 1s ease;
}


:root {
  --h50: 50px;
}

/* 
body {
  background-color: black;
  
  
} */

div.layout-1 {
  text-align: center;
}

div.logo {
  display: inline-block;
}

div.menu {
  background-color: rgb(13, 13, 14);
}

ul.menu-ul {
  text-align: center;
  direction: rtl;
}

li {
  color: white;
  text-align: center;
  display: inline-block;
  margin-left: 3%;
  line-height: 3;
}

li>a {
  color: rgba(148, 148, 148, 0.726);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  font-size: small;
}

.welcome {
  border: 100px ridge red;
  filter: brightness(50%);
}

#welcome {
  color: white;
  text-align: center;
}

.foter {
  background: rgb(44, 44, 44);
  border-radius: 9%;
}

.mojavez {
  display: inline-flex;
}

.nemad {
  background-color: white;
  border: 4px solid red;
  border-radius: 30%;
  width: 100px;
  opacity: 30%;
  margin-left: 10px;
}

#img-nemad {
  width: 100px;
}

.ertebat {
  display: inline-block;
  text-align: center;
}

.ertebat div {
  width: 50px;
  background-color: white;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  opacity: 50%;
}

i {
  color: white;
}

.footer {
  color: red;
  width: 100%;
  background-color: black;
}


.ertebat div {
  padding: 3px;
}

.ertebat img {
  border-radius: 50%;
}


#space {
  height: var(--h50);
}

/* --------------------------hovers-------------------------- */

.nemad:hover {
  opacity: 100%;
  border-radius: 50%;
}

.welcome:hover {
  /* background: rgba(63, 63, 63, 0.61); */

  filter: brightness(100%);
  transition: all ease-out 5s;
  transition-timing-function: ease-in-out;

  cursor: no-drop;
}

.btn-shine:hover {
  color: rgb(252, 5, 5);
}

.ertebat div:hover {
  opacity: 100%;
  transform: rotateZ(360deg);
  transform: skew(100px);
}

/* -------------------@Medias------------------- */

@media (min-width: 100px) {
  li {
    display: block;
    text-align: center;
    margin-left: 10;
    line-height: 2;
  }

  .welcome {
    border: 30px ridge red;
  }

  #welcome {
    font-size: large;
  }
}

@media (min-width: 550px) {
  li {
    display: inline-block;
    text-align: center;
  }

  .welcome {
    border: 30px ridge red;
  }

  #welcome {
    font-size: x-large;
  }
}

/* 
body{
  background: black;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn-shine{

    
    

  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 9s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  white-space: nowrap;
}
  
  @keyframes shine{

      0%{
          background-position: 0;
        }
        60%{
            
            background-position: 180px;
        }
  100%{
      background-position: 180px;

  }


}
    
    
    
    
    
    




 */