* {
    list-style: none;
    transition: all 1s ease;
  }
  
  body {
    background-color: black;
    width: 100%;
    height: 1000%;
  }
  
  div.layout-1 {
    text-align: center;
  }
  
  div.logo {
    display: inline-block;
  }
  
  div.menu {
    background-color: rgb(13, 13, 14);
  }
  
  ul.menu-ul {
    text-align: center;
    direction: rtl;
  }
  
  li {
    color: white;
    text-align: center;
    display: inline-block;
    margin-left: 3%;
    line-height: 3;
  }
  
  li > a {
    color: rgba(148, 148, 148, 0.726);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }


.list{
  width: 100%;
    height: 400px;
background: grey;
display: flex;
overflow-x: scroll;
overflow-y:hidden;
margin: 2px;
padding: 3.5;
border-radius: .5em;
scroll-snap-type: x mandatory;
}


.a-item{

  width: 200vw;
  display: flex;
  background-color: rgb(81, 81, 81);
  flex-direction: column;
  padding: 5rem;
  margin: .5em;
  border-radius: 7%;
  text-align: center;
  scroll-snap-align: start;
  opacity: 50%;
  text-decoration: none;
  scroll-margin-inline: .5em;

}




.itemimage{
    width: 100px;
   
border-radius: 10%;
    object-fit: cover;
    border: 3px groove black;
    background: black;
    text-align: center;
}
.itemtitle{
  width: 9rem;
  padding: 0rem 0rem 0rem 0rem;
    margin: .5em;
    font-size: x-large;
    color: white;
  }













  
  
  
  /* ---------------------------------Footer-------------------------------------- */
  .foter {
    background: rgb(44, 44, 44);
    border-radius: 9%;
  }
  .mojavez {
    display: inline-flex;
  }
  
  .nemad {
    background-color: white;
    border: 4px groove red;
    border-radius: 30%;
    width: 100px;
    opacity: 30%;
    margin-left: 10px;
  }
  
  #img-nemad {
    width: 100px;
  }
  
  
  
  .ertebat{
    display: inline-block;
    text-align: center;
  }
  .ertebat div{
  width: 50px;
  background-color: white;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  opacity: 10%;
  
  }
  
  
  i{
    color: white;
  }
  
  .footer{
    color: red;
    width: 100%;
    background-color: black;
  }



















  
  
  
  
  
  /* --------------------------hovers-------------------------- */
  
  
  .nemad:hover{
    opacity: 100%;
    border-radius: 50%;
  }
  

  
  
  
  .btn-shine:hover {
    color: rgb(252, 5, 5);
  }
  
  .ertebat div:hover{
    opacity: 100%;
  }
  
  
  
  .a-item:hover{
    opacity: 100%;
    transform: rotate(5deg);
  border-right: 30px groove grey;
  border-bottom: 30px groove white;
  
}
.a-item:hover .itemimage {
  transform: rotate(2deg);
}

.a-item:hover .itemtitle{
  transform: rotate(3deg);
  background-color: red;
  }
  
  /* -------------------@Medias------------------- */
  
  
  @media (min-width: 100px) {
    li {
      display: block;
      text-align: center;
      margin-left: 10;
      line-height: 2;
    }
    
    
  
  @media (min-width:550px){
    li {
      display: inline-block;
      text-align: center;
     
    }
    
    .welcome {
      border: 30px ridge red;
    }
    
    #welcome {
      font-size: x-large;
    }
    
  }
  
 